#rightStatsContentContainer table{
	border-collapse: collapse;
    border-spacing: 0;
    font-family: helvetica;
    font-size: 0.9em; 
}#rightStatsContentContainer th{
	padding-top: 2px;
	padding-bottom: 2px;
}
#rightStatsContentContainer tbody tr:nth-child(odd) {
    background: #e0e0e0;
    -webkit-box-shadow: 0 1px 0 rgba(255,255,255,.8) inset; 
    -moz-box-shadow:0 1px 0 rgba(255,255,255,.8) inset;  
    box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;        
}
#rightStatsContentContainer td{
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}
#xClose{
	background-color: white;
	position:absolute;
	top:-3px; 
	right:0px;
}
#backButton{
	background-color: white;
	position:absolute;
	top:-3px; 
	left:0px;
}
#xClose:active{
	background-color: #A0A0A0;
}
#backButton:active{
	background-color: #A0A0A0;
}
#bareMetalEle{
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: rgb(200, 200, 200);
    font-family: helvetica;
    font-size: 0.9em; 
	position:absolute;
	width:120px;
	height:100px;
	overflow-y:scroll;
	overflow-x:hidden
}
#bareMetalEle *{
	padding-top:2px;
	padding-bottom:2px;
	padding-left: 3px;
	border-bottom:1px solid black;
}
#bareMetalEle div:nth-child(odd){
	background: rgb(200, 200, 200);
}
#bareMetalEle div:nth-child(even){
	background:white;
}
