RewriteEngine   on
RewriteRule     ([^\/]*)\/([^\/]*)\/([^\/]*)\/([^\/]*)\/_view\/([^\/]*)\/(.*) http://207.162.8.249:5984/$1/$2/$3/$4/_view/$5/$6 [p]
RewriteRule     ([^\/]*)\/([^\/]*)\/([^\/]*)\/_view\/(.*) http://207.162.8.249:5984/$1/$2/$3/_view/$4 [p]
RewriteRule     ([^\/]*)\/_view\/([^\/]*)\/(.*) http://207.162.8.249:5984/$1/_view/$2/$3 [p]
RewriteRule     ([^\/]*)\/([^\/]*)\/(.*) http://207.162.8.249:5984/$1/$2\%2F$3 [p]
RewriteRule     (.*) http://207.162.8.249:5984/$1 [p]
