<!doctype html>
<html ng-app="plunker">
  <head>
    <script src="angular.js"></script>
    <script src="ui-bootstrap-tpls-0.11.0.js"></script>
    <script src="example.js"></script>
    <link href="bootstrap.min.css" rel="stylesheet">
<title>Create New Tenant Defense</title>
<link rel="shortcut icon" href="favicon.ico">

   
</style>
<script type="text/javascript">
      function newdefense() {
	  var e = document.getElementById("newN");
      var newN = e.options[e.selectedIndex].value;

        var xmlhttp;
        if (window.XMLHttpRequest)
          {// code for IE7+, Firefox, Chrome, Opera, Safari
          xmlhttp=new XMLHttpRequest();
          }
        else
          {// code for IE6, IE5
          xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
          }

		xmlhttp.open("GET","newdefense.php?newdefense="+newN+','+newN,true);
        xmlhttp.send();

	  
      }
	  //
    </script>
	<style>
        .modal-dialog {
         width: 900px;
		 height: 900px;
         }
		 .modal-content {
  width: 900px;
}
    </style>
  </head>
  
<body>

<div ng-controller="ModalDemoCtrl">
<script type="text/ng-template" id="myModalContent.html">
<div class="modal-body">
 
<h2>Create New Tenant Defense</h2>


<div>
    <table cellspacing="20" cellpadding="20">
    <tr>
    <td> 
    <label for="id_net_name">Tenant Network Name :</label>
    <select id="newN" name="networkname">
    <option value="VxLAN-net1">VxLAN-net1</option>
    <option value="Gre1">GRE1</option>
    </select>
    </td>
    <td>
    <p>Here, you can choose the target tenant network to create new defense.<br/></p>
    </td>
    </tr>
    </table>
    </div>

	
	
	

	
	
<div class="modal-footer">
<button class="btn btn-primary" ng-click="ok()">Apply</button>
<button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>
		
</script>
	
	
	
<script>
  $(function() {

      // get container for the wizard and initialize its exposing
    var wizard = $("#wizard_tabs").expose({lazy: true});

    // enable exposing on the wizard
    wizard.click(function() {
    $(this).expose().load();
  });
  
        // enable tabs that are contained within the wizard
      $("ul.tabs", wizard).tabs("div.panes > div", function(event, index) {

      /* now we are inside the onBeforeClick event */

      // ensure that the "terms" checkbox is checked.
      var terms = $("#terms");
      if (index > 0 && !terms.get(0).checked)  {
      terms.parent().addClass("error");

      // when false is returned, the user cannot advance to the next tab
      return false;
      }

      // everything is ok. remove possible red highlight from the terms
      terms.parent().removeClass("error");
      });
  
        // get handle to the tabs API
      var api = $("ul.tabs", wizard).data("tabs");

      // "next tab" button
      $("button.next", wizard).click(function() {
      api.next();
      });

      // "previous tab" button
      $("button.prev", wizard).click(function() {
      api.prev();
      });
	   $("button.apply", wizard).click(function() {
      newdefense();
	  document.getElementById("display").innerHTML = 
      "New Defense Applied Successfully";
	  alert("New Defense Applied Successfully");
      });
    });
</script>
    <button class="btn btn-default" ng-click="open()">New Tenant Defense</button>
</div>
  </body>
</html>
